/* style of home page */
@font-face {
  font-family: "futura-bold";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  src: url("../fonts/FuturaBold.otf");
  src: local("futura-bold"), url("../fonts/FuturaBold.otf") format("otf"),
    url("../fonts/FuturaBold.otf") format("truetype");
}
@font-face {
  font-family: "futura-medium";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  src: url("../fonts/FuturaMedium.otf");
  src: local("futura-medium"), url("../fonts/FuturaMedium.otf") format("otf"),
    url("../fonts/FuturaMedium.otf") format("truetype");
}
@font-face {
  font-family: "BankGothicMedium";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  src: url("../fonts/BankGothicMedium.otf");
  src: local("BankGothicMedium"),
    url("../fonts/BankGothicMedium.otf") format("otf"),
    url("../fonts/BankGothicMedium.otf") format("truetype");
}
@font-face {
  font-family: "square";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  src: url("../fonts/Square.ttf");
  src: local("square"),
    url("../fonts/Square.ttf") format("ttf"),
    url("../fonts/Square.ttf") format("truetype");
}
/* ===================================================================================== */
.woocommerce-pagination{
  margin-top: 1em;
}
.woocommerce-pagination .page-numbers .current, .woocommerce-pagination .page-numbers li a:hover {
padding: 3px 7px !important;
background: #DDD !important;
border: 1px solid #BBB !important;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.woocommerce-pagination .page-numbers a:link, .woocommerce-pagination .page-numbers a:visited {
display: inline !important;
text-decoration: none !important;
background: #EEE !important;
color: #666 !important;
padding: 3px 7px !important;
border: 1px solid #DDD !important;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.woocommerce-pagination .page-numbers li{
  display: inline;
  margin: 2px;
  
}

.woocommerce .woocommerce-pagination { width:50%; float: right; text-align: right !important;  }

.woocommerce-result-count {
width: 46%;
float: left;
text-align: left;
margin-bottom: 0 ;
}


.dangerrr{
  position: absolute;
  background-color: #fd0d0d;
  padding-top: 6px;
  width: 25px;
  height: 25px;
  margin-left: 1.5rem;
  margin-top: -1.5rem !important;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: auto;
  background-color: transparent;

  text-align: center;
  line-height: 40px;
}
.header.active { 
  padding: 0.5rem 3rem !important;
  background-color: white;
}
/* .navbar{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 27%, rgba(255, 255, 255, 0.5)), linear-gradient(to top, #ffffff 78%, rgba(0, 0, 0, 0) -2%);
} */

.navbar-brand img {
  width: 100%;
}
.navbar-brand img:hover {
  opacity: 1;
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-family: "futura-medium";
  font-size: 11px;
  letter-spacing: 4.33px;
  /* opacity: 0.7; */
  padding-left: 2.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.9;
}

.navbar-nav .nav-item .nav-link img{
  height: 46px;
  width: 46px;
  opacity: 1 !important;
}
.navbar-light .navbar-toggler {
  border-color: black;
  height: 40px;
}
.navbar-light .navbar-toggler-icon {
  background-color: black;
}
.imgBackSlider{
  width: 100%;
  object-fit: cover;
  height: 800px;
  object-position: 100% 0px;
}
.imgInnerSlider {
  margin: auto;
  display: block;
}
.carousel-control-prev,
  .carousel-control-next{
    top: 360px !important;
    bottom: unset;
  } 
.carousel-caption {
  bottom: 32%;
  top: 30%;
  padding-top: 3.6rem;
}
.carousel-caption h1 {
  padding-top: 1rem;
  font-size: 80px;
  font-family: "BankGothicMedium";
  margin-left: -144px;
  letter-spacing: 2rem;
}
.carousel-caption h2 {
  font-family: "BankGothicMedium";
  margin-left: -140px;
  margin-right: -100px;
  opacity: 0.7;
  letter-spacing: 0.5rem;
}
.imgInnerSlider {
  position: absolute;
  z-index: -1;
  width: 70%;
  height:422px;
  top: -110px;
}
.imgInnerSlider2{
  top: -110px !important;
}
.btnShopHeader {
  background-color: #ffffff;
  border: solid 1.2px #ffffff;
  width: 250px;
  font-family: "futura-bold";
  font-size: 14px;
  letter-spacing: 8px;
  margin-top: 1rem;
  margin-left: -0.2rem;
}
.btnShopHeader:hover {
  background-color: #c50a0a;
  color: #ffffff;
  border: solid 1.2px #c50a0a;
}
.newArrival {
  transition-timing-function: ease;
  transition: all 0.2s;
}
.newArrival:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* ======================================================================== */
.cards img:hover, .cards2 img:hover{
  opacity: 1;
  cursor: pointer;
}
.cards img, .cards2 img{
  opacity: 0.9;
}
.bottom-right {
  position: absolute;
  bottom: 14px;
  text-align: center;
  left: 10%;
}
.bottom-right2 {
  position: absolute;
  bottom: 14px;
  text-align: center;
  left: 7%;
  top: 350px;
}
.bottom-right h3 ,.bottom-right2 h3 {
  font-size: 25px;
  font-family: "BankGothicMedium";
}
.bottom-right p ,.bottom-right2 p {
  font-size: 16px;
  opacity: 0.6;
  font-family: "BankGothicMedium";
}

.nav-pills {
  border-bottom: solid 1px #867d7d;
  display: flex;
  justify-content: center;
}
.nav-pills2{
  border-bottom: 1px solid #e4eaee;
}
.nav-pills .nav-item .nav-link {
  font-family: "BankGothicMedium";
  color: #040404;
  padding: 1rem 2rem;
  opacity: 0.6;
  font-size: 20px;
}
.nav-pills2 .nav-item .nav-link {
  font-family: "BankGothicMedium";
  color: #d4d9dd;
  padding: 1.5rem;
  opacity: 0.6;
  font-size: 16px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: white;
  color: #c50a0a;
  /* font-weight: bold; */
  opacity: 1;
  border-bottom: 2px solid #c50a0a;
  border-radius: 0;
}
.boxShirt {
  background-color: #f3f3f3;
  padding-right: 0;
  height: auto;
  overflow: hidden;
  padding-left: 7rem;
}
.pText {
  font-family: "BankGothicMedium";
  opacity: 0.4;
  font-size: 18px;
  color: #000000;
}
.pTextShoping {
  font-family: "BankGothicMedium";
  opacity: 0.4;
  font-size: 17.2px;
  color: #000000;
}
.imgCross {
  position: absolute;
  margin-top: 10px;
  /* top: -70px; */
  right: 0px;
  width: unset;
  height: 400px;
}
.imgShirt {
  position: absolute;
  right: 0px;
  width: 585px;
  height: 462px;
  bottom: 0;
  top: 170px;
}
.salary {
  border-bottom: 2px solid #c50a0a;
  font-family: "BankGothicMedium";
}
.salary:hover {
  text-decoration: none;
}
.entire {
  font-family: "BankGothicMedium";
  color: #010101;
  font-size: 22px;
  opacity: 0.7;
}
.top-right {
  position: absolute;
  text-align: center;
  background-color: #c50a0a;
  border-radius: 50%;
  top: 12px;
  color: white;
  padding: 0.8rem 0.5rem;
  font-size: 13px;
  right: 3px;
}
.commit,
.brand {
  font-family: "BankGothicMedium";
}
.brand {
  opacity: 0.7;
  font-size: 24px;
}
.shopButton {
  border: 1px solid #c50a0a;
  padding: 1rem 3rem;
  color: #cf021b;
  font-family: "futura-bold";
  font-size: 13.2px;
  letter-spacing: 5.2px;
}
.shopButton:hover {
  background-color: #c50a0a !important;
  color: white;
}
.shopNow {
  padding: 1rem 1rem;
  text-align: center;
  background-color: #cacbd0;
  border: solid 1px #000000;
  font-size: 11px;
  opacity: 0.8;
  color: black;
  border-radius: 5px;
  font-family: "futura-bold";
}
.shopNow:hover {
  color: white;
  border: 1px solid #c50a0a;
  opacity: 1;
  background-color: #c50a0a;
  text-decoration: none;
}

.had {
  font-family: "futura-bold";
  font-size: 11px;
  color: #000000;
}
.couchEdit {
  position: absolute;
  left: 0;
  margin-top: -130px;
  margin-bottom: -20px;
}
.imgEdit {
  position: absolute;
  right: 0px;
  margin-top: -160px;
  width: 262.3px;
  height: 350px;
  bottom: -180px;
}
.btnShop {
  background-color: #c50a0a;
  font-size: 13.2px;
  letter-spacing: 5.2px;
  font-weight: bold;
  font-family: "futura-medium";
}
.btnShopH{
  background-color: white;
  border-radius: 0;
  border: 1px solid black;
  padding: 0.8rem 2rem;
  font-size: 13.2px;
  text-transform: uppercase;
  letter-spacing: 5.2px;
  font-weight: bold;
  font-family: "futura-medium";
}
.btnShopH:hover {
  background-color: #c50a0a;
  color: white;
  border: 1px solid #c50a0a;
}
.btnShop:hover {
  background-color: #ffffff;
  color: #c50a0a !important;
  border: 1px solid #c50a0a;
}
/* ========================================================================= */
.footer .jumbotronFooter {
  background-color: #dcdde1;
  border-radius: 0;
}
.footer .jumbotronFooter h6 {
  font-size: 11px;
  letter-spacing: 4.33px;
  font-family: "futura-bold";
  color: #000000;
  line-height: 1.1rem;
  opacity: 0.7;
  padding-bottom: 2rem;
}
.footer .jumbotronFooter p a {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.7;
  font-family: "futura-medium";
  letter-spacing: 2.62px;
  color: #000000;
}
.jumbotronFooter2 {
  background-color: #cacbd0;
  padding: 2rem 1rem 1.2rem 1rem;
  border-radius: 0;
  margin-bottom: 0;
}
.jumbotronFooter2 .footLink {
  font-family: "futura-bold";
  font-size: 11px;
  color: #000000;
  opacity: 0.7;
  padding-top: 1rem;
  letter-spacing: 1px;
}
.jumbotronFooter2 .footLink:hover {
  opacity: 1;
}
.jumbotronFooter2 p {
  text-align: center;
}
/* =============================== Page Shoping ======================================= */
.selecSize li{
  border: none;
  cursor: pointer;
}
.selectColor li{
  margin-right: 1rem;
  height: 34px;
  cursor: pointer;
  width: 42px;
}
.list-group-horizontal .list-group-item:first-child,.list-group-horizontal .list-group-item:last-child{
  border-radius: 0px;
}
.bg-selected{
  border: 2px solid #151212 !important;
  border-radius: 5px;
}
.bg-selectedC{
  border: 1px solid #151212 !important;
  border-radius: 0;
  outline-style: solid;
  padding: 0px !important;
}
.swiper-pagination-bullet {
  display: none;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  position: absolute;
  top: 30px;
  right: 6%;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  position: absolute;
  top: 30px;
  right: 10%;
  left: unset;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,.swiper-button-next:after,.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
  content: none;
}
/* =================================== Page Comming Soon =============================== */
.nvLnkComming {
  font-family: "BankGothicMedium";
  letter-spacing: 9px;
  font-size: 18px;
  color: #ffffff;
}
.newsletter input::placeholder {
  color: #303737;
  font: italic;
  font-family: "BankGothicMedium";
  font-size: 18px;
  opacity: 0.4;
  letter-spacing: 0.1rem;
}
.newsletter button {
  border-radius: 0;
}
.newsletter input,
.newsletter .btn {
  height: 4rem;
  font-size: 20px;
  /* border:2px solid #e02020; */
}
.newsletter .form-control {
  width: 30%;
}
.btnSign {
  background-color: #e02020;
  padding: 1rem 2rem;
  font-family: "BankGothicMedium";
}
.comming {
  background-image: url(../images/comingSoon.jpg);
  background-size: cover;
}
@media screen and (min-width:700px){
  .comming{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* =========================================== Categories ===================== */
.ctegoryHead{
  background: url(../images/bgCategories.jpg);
  background-size: cover;
  margin-top: 94px;
}
.introduction h2{
  color: #000000;
  font-size: 28px;
  font-family: "BankGothicMedium";
}
.introduction p a{
  color: #c50a0a;
  font-weight: 500;
}
.introduction h5{
  color:#123761;
  font-size: 16px;
  opacity: 0.5;
}
.introduction h6{
  color: #0c2c50;
  font-size: 18.2px;
  font-weight: 500;
  opacity: 0.7;
  font-family: "BankGothicMedium";
}

/* ============================================ Check Out ===================== */
/* .chekOutNav{
  border-bottom: solid 1.2px #e2d8d8;
} */
.formCheckOut .form-control{
  height: 54px;
  border-radius: 3px;
  border: solid 1px #dde3e8;
  background-color: #ffffff;
}
.formCheckOut label{
  color: #d4d9dd;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.formCheckOut .form-control:focus{
  box-shadow: none;
  border: 1px solid #71b6ef;
}
.formDisplay{
  display: none;
}
.btnContinue{
  height: 48px;
  background-color: #000000;
  font-family: "BankGothicMedium";
  color: #ffffff;
}

.btnContinue:hover{
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}

.back{
  color: #788995;
  font-size: 16px;
  font-weight: 500;
}

.shopCart{
  background-color:#f3f3f3;
}

.badge-danger{
  border-radius: 50%;
}

.media img{
  background-color: #ffffff;
  padding: 0.5rem;
}

.media p{
  color: #788995;
  font-weight: 500;
}

.have{
  font-size: 14px;
  color: #1b2125;
  cursor: pointer;
}

.subt{
  font-size: 14px;
  color: #788995;
}

.tot span{
  font-size: 16px;
  font-weight: bold;
}

.custom-control .custom-control-label{
  cursor: pointer;
}

/* ============================================ Orders ===================== */
.bankGothFont{
  font-family: "BankGothicMedium";
}
.bankGothFontOpacity{
  font-family: "BankGothicMedium";
  opacity: 0.5;
}
.text-rightT{
  text-align: right;
}
/* ============================================= Congrats =================== */
.congrats{
  padding-top: 7.5rem;
}
/* ============================================== Cart ========================= */
.minus-btn,.plus-btn{
  height: 40px;
}
.quantity .form-control{
  display: inline-flex;
  margin-top: 2px;
}
/* ============================================ Media Query ================= */

@media screen and (min-width: 800px) {
  .had {
    text-align: left !important;
  }
  .boxCouch {
    height: 420px;
    background-color: #f3f3f3;
  }
  .btnShop {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .imgCross {
    position: absolute;
    margin-top: 10px;
    top: -50px;
    right: 0;
    height: 400px;
  }
  .imgEdit {
    right: 0px !important;
  }
}

@media screen and (max-width: 1024px) {
  .imgEdit {
    position: absolute;
    right: 0px !important;
    margin-top: -160px;
    width: 100%;
    bottom: -180px;
  }
  .imgShirt{
    right: 0;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width:1145px){

  .imgInnerSlider{
    width: 90% !important;
    height: 420px !important;
  }
}

@media screen and (max-width: 900px) {
  .congrats{
    padding-top: 4rem;
  }
  .btnShopHeader {
    width: 235px !important;
    margin-left: 0;
  }
  .bottom-right2 {
    top: 320px;
  }
  .boxShirt {
    padding-left: 1rem;
  }
  .couchEdit {
    position: relative;
    padding-top: 9rem;
    padding-left: 32%;
  }
  .shopButton {
    padding: 1rem 1rem;
    letter-spacing: 2px;
    font-size: 13px;
  }
  .imgEdit {
    display: none;
  }
  .imgCross {
    display: none;
  }
  .imgShirt {
    position: relative;
    width: 100%;
    top: 0;
    right:-12px;
  }
  .btnShop {
    margin-bottom: 2rem;
  }
  .nav-pills .nav-item .nav-link {
    padding: 1rem 1rem;
  }
  .bottom-right ,.bottom-right2{
    left: 10%;
  }
  .bottom-right h3 {
    font-size: 16px;
  }
  .bottom-right p {
    font-size: 14px;
  }
  .cards img {
    height: 400px;
  }
  .dangerrr{
    left: 46px;
  }
}


@media screen and (max-width:1250px){
  .imgInnerSlider{
    width: 77% !important;
    height: 450px !important;
  }
}

@media screen and (max-width: 790px) {
  .imgInnerSlider{
    width: 100% !important;
  }
  .navbar-collapse{
    background-color: white;
  }
  .direction {
    display: none;
  }
  .main {
    height: 790px;
  }
  .carousel-caption h2{
    margin-right: -130px;
  }
  .carousel-caption h1{
    margin-left: -196px;
  }
  .btnShopHeader{
    margin-left: 1rem !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .navbar-expand-lg {
    padding: 1rem 1.5rem !important;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding-left: 0.5rem;
    text-align: left;
  }
  .newsletter {
    padding: 1rem;
  }
  .input-group-btn {
    display: block !important;
    width: 100% !important;
    padding-top: 2rem;
  }
  .nvLnkComming {
    letter-spacing: 1px;
    font-size: 14px;
  }
  .img-fluid{
    height: 800px !important;
  }
  .header.active{
    padding:0.5rem 1rem !important;
  }
  .top-right{
    right: 60px;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: 10%;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    right: 25%;
  }
}

@media screen and (min-width: 1000px) {
  .navbar-expand-lg {
    padding: 2rem 4rem 2rem 5rem;
  }
  .brand3{
    padding-left: 3.5rem;
  }
}

@media screen and (max-width:1024px){

  .imgInnerSlider2{
    top: -110px !important;
  }
  .navbar .navbar-nav .nav-item .nav-link{
    padding-left: 1.5rem !important;
  }
  .carousel-caption h1{
    padding-top: 3rem;
    margin-left: -200px;
  }
  .btnShopHeader{
    margin-left: -0.6rem;
    width: 240px;
  }
  .imgInnerSlider{
    width: 268px !important;
  }
}

@media screen and (min-width:1400px){
  .carousel-control-prev,.carousel-control-next{
    top: 430px !important;
  }
  .imgInnerSlider{
    width: 63%;
    height:452px;
  }
  .btnShopHeader{
    margin-left:0px !important;
  }
  .carousel-caption h1{
    margin-left: -115px;
    margin-top: 2rem;
  }
  .carousel-caption h2{
    margin-left: -101px;
    margin-right: -90px;
  }
  .imgBackSlider{
    width: 100%;
    object-fit: cover;
    height: 800px;
    object-position: 10% 20%;
  }
  .boxShirt{
    padding-left: 6rem;
    height: auto;
    overflow: hidden;
  }
  .imgShirt{
    width: 585px;
    height: 462px;
  }
}

@media screen and (max-width:767px){
  .imgInnerSlider{
    width: 294px !important;
    margin-left: 6rem;
    height: 420px !important;
  }
  .carousel-caption h1{
    margin-left: -5rem;
  }
}

@media screen and (max-width: 746px) {
  .imgInnerSlider{
    width: 60% !important;
    margin-left: 5rem;
    height: 500px !important;
  }
  .carousel-caption h1{
    margin-left: -6rem;
  }
  .dangerrr{
    left: 46px;
  }
  .text-rightT{
    text-align: left;
  }
  .border-left{
    border-left: none !important;
  }
  .border-right{
    border-right: none !important;
  }
}
@media screen and (max-width: 500px){
  .imgInnerSlider {
    margin-left: 1rem !important;
    height: 430px !important;
    margin-top: 0.8rem;
    width: 268px !important;
  }
  .carousel-caption h1,.carousel-caption h2{
    display: none;
  }
  .btnShopHeader{
    margin-top: 13rem !important;
    width: 240px !important;
  }
}
@media screen and (max-width: 425px) {
  .couchEdit {
    position: relative;
    padding-top: 9rem;
    padding-left: 10%;
  }
  .congrats{
    padding-top: 1rem !important;
  }
  .imgBackSlider{
    object-position: 64% 0px;
    height: 700px;
  }
  .imgInnerSlider {
    margin-left: -1rem !important;
    height: 430px !important;
    margin-top: 0.8rem;
    width: 268px !important;
  }
  .imgInnerSlider2{
    margin-top: 0.8rem !important;
  }
  .btnShop {
    padding: 1rem 1rem;
    font-size: 11.5px;
  }
  .btnShopHeader{
    margin-top: 14.5rem;
    width: 245px !important;
    margin-left: -0.5rem !important;
  }
  .carousel-caption h1 {
    /* padding-top: 5rem !important;
    font-size: 46px;
    font-family: "BankGothicMedium";
    margin-left: -40px !important;
    letter-spacing: 0.6rem; */
    display: none;
  }
  .carousel-caption h2 {
    /* font-family: "BankGothicMedium";
    margin-left: -96px !important;
    margin-right: -100px !important;
    font-size: 30px;
    opacity: 0.7;
    letter-spacing: 0.5rem; */
    display: none;
  }
  .btnSign {
    display: block !important;
    width: 100%;
    border-radius: 5px !important;
  }
  .inptEmail {
    width: 100% !important;
    border-radius: 5px 5px 5px 5px !important;
  }
}

@media screen and (max-width:426px){
  .imgInnerSlider{
    margin-left: -1rem !important;
  }
}

@media screen and (max-width: 320px) {
  .slider1 .carousel-item img {
    padding-right: 15rem;
    width: 310px !important;
    /* max-width: 90% !important; */
    margin-right: 68px !important;
  }
  .newsletter input,
  .newsletter .btn {
    font-size: 17px;
}
  .carousel-caption h1 {
    /* padding-top: 4rem !important;
    font-size: 41px;
    margin-left: -45px !important;
    letter-spacing: 0.6rem; */
    display: none;
  }
  .carousel-caption h2{
    /* margin-right: -130px !important;
    margin-left: -120px !important; */
    display: none;
  }
  .btnShopHeader {
    margin-left: -1rem !important;
    width: 220px !important;
    margin-top: 12rem !important;
  }
  .imgInnerSlider{
    height: 390px !important;
    width: 248px !important;
    margin-left: -1.9rem !important;
  }
}

@media screen and (min-width:2000px){
  .imgShirt{
    width: 585px;
    height: 100%;
  }
}

@media screen and (max-width:1250px){
  .imgShirt{
    right: 0px;
  }
  .imgCross{
    right: 0;
  }
  .imgEdit{
    right: 0px;
  }
}

@media screen and (min-width:1211px){
  .imgInnerSlider{
    right: 0;
    left: 0;
  }
}

@media screen and (min-width:1450px){
  .imgInnerSlider{
    width: 67% !important;
    height: 452px !important;
  }
  .carousel-caption h1{
    margin-left: -120px !important;
    margin-top: 1rem !important;
  }
}

@media screen and (min-width:1650px){
  .imgInnerSlider{
    width: 66.4% !important;
    height: 480px !important;
  }
  .carousel-caption h1{
    margin-left: -100px !important;
    margin-top: 2rem !important;
  }
  .btnShopHeader{
    width: 280px !important;
  }
}
