.woocommerce-pagination{
    margin-top: 1em;
}
.woocommerce-pagination .page-numbers .current, .woocommerce-pagination .page-numbers li a:hover {
padding: 3px 7px !important;
background: #DDD !important;
border: 1px solid #BBB !important;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.woocommerce-pagination .page-numbers a:link, .woocommerce-pagination .page-numbers a:visited {
display: inline !important;
text-decoration: none !important;
background: #EEE !important;
color: #666 !important;
padding: 3px 7px !important;
border: 1px solid #DDD !important;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.woocommerce-pagination .page-numbers li{
    display: inline;
    margin: 2px;
    
}

.woocommerce .woocommerce-pagination { width:50%; float: left; text-align: left !important;  }

.woocommerce-result-count {
    width: 46%;
    float: right;
    text-align: right;
    margin-bottom: 0 ;
}


.dropdown-item:active{
    background-color: #ccc!important;
}
.dropdown-menu{
    top: 70%;
}
